<div class="container">
    <h1>My Favorite Movies</h1>
    <ul>
        {{#each movies}}
            <li>{{id}} - {{movie}}</li>
<button data-movieID="{{id}}">&times;</button>
        {{/each}}
    </ul>

    <h2> Add a Movie Here</h2>
    <label for="new-movie-input">movie</label><input id="new-movie-input" type="text"/>
    <button id="new-movie-btn" type="submit">add movie </button>
    <h2>Update your Movie Options...</h2>
</div>


<script>
    $(document).ready(function () {
        const $newMovieInput = $('#new-movie-input');
        const $newMovieButton = $('new-movie-btn');
        const $deleteButtons = $('.delete');
        $newMovieButton.on('click', () => {
            const newMovieText = $newMovieInput.val().trim();
            $.ajax('/api/movies', {
                type: 'POST',
                data: { newMovieText }
            }).then(()=> Location.reload())
                    .catch(err => console.log(err))
        });
        $deleteButtons.on('click', function() {
            const id = $(this).data('movieID');
            $.ajax(`/api/movies/${id}`, {
                type: 'DELETE'
            })
                    .then(()=> Location.reload())
                    .catch(err => console.log(err))
        })
    })
</script>
